<?xml version="1.0" encoding="UTF-8"?>
	<suite name="Suite" parallel="tests" thread-count="20">

	<test name="68c00893cac31e29d314142ba5ba985b20f09f95">
  		<parameter name="udid"	value="68c00893cac31e29d314142ba5ba985b20f09f95" />
  		<parameter name="os"	value="IOS" />
    	<classes>

			<class name="testNG.TestOne"/>

    	</classes>
  	</test> <!-- Test -->
</suite>
